# Project exclude paths
/shu-ssc-api-commons/target/
/shu-ssc-auth-center/target/
/shu-ssc-gateway/target/
/shu-ssc-student-api/target/

/target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr