<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.ssc.mapper.CourseChapterVideoMapper">
  <resultMap id="BaseResultMap" type="com.shu.ssc.entity.CourseChapterVideo">
    <id column="chapter_id" jdbcType="INTEGER" property="chapterId" />
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <id column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
  </resultMap>
  <sql id="Base_Column_List">
    chapter_id, course_id, video_id, video_url, video_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_chapter_video
    where chapter_id = #{chapterId,jdbcType=INTEGER}
      and course_id = #{courseId,jdbcType=INTEGER}
      and video_id = #{videoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from course_chapter_video
    where chapter_id = #{chapterId,jdbcType=INTEGER}
      and course_id = #{courseId,jdbcType=INTEGER}
      and video_id = #{videoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shu.ssc.entity.CourseChapterVideo">
    insert into course_chapter_video (chapter_id, course_id, video_id, 
      video_url, video_name)
    values (#{chapterId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{videoId,jdbcType=INTEGER}, 
      #{videoUrl,jdbcType=VARCHAR}, #{videoName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shu.ssc.entity.CourseChapterVideo">
    insert into course_chapter_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="videoName != null">
        video_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chapterId != null">
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoName != null">
        #{videoName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.ssc.entity.CourseChapterVideo">
    update course_chapter_video
    <set>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoName != null">
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
    </set>
    where chapter_id = #{chapterId,jdbcType=INTEGER}
      and course_id = #{courseId,jdbcType=INTEGER}
      and video_id = #{videoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.ssc.entity.CourseChapterVideo">
    update course_chapter_video
    set video_url = #{videoUrl,jdbcType=VARCHAR},
      video_name = #{videoName,jdbcType=VARCHAR}
    where chapter_id = #{chapterId,jdbcType=INTEGER}
      and course_id = #{courseId,jdbcType=INTEGER}
      and video_id = #{videoId,jdbcType=INTEGER}
  </update>
</mapper>