<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.ssc.mapper.CourseChapterMapper">
  <resultMap id="BaseResultMap" type="com.shu.ssc.entity.CourseChapter">
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <id column="chapter_id" jdbcType="INTEGER" property="chapterId" />
    <result column="chapter_intro" jdbcType="VARCHAR" property="chapterIntro" />
  </resultMap>
  <sql id="Base_Column_List">
    course_id, chapter_id, chapter_intro
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_chapter
    where course_id = #{courseId,jdbcType=INTEGER}
      and chapter_id = #{chapterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from course_chapter
    where course_id = #{courseId,jdbcType=INTEGER}
      and chapter_id = #{chapterId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shu.ssc.entity.CourseChapter">
    insert into course_chapter (course_id, chapter_id, chapter_intro
      )
    values (#{courseId,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER}, #{chapterIntro,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shu.ssc.entity.CourseChapter">
    insert into course_chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_id,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="chapterIntro != null">
        chapter_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="chapterIntro != null">
        #{chapterIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.ssc.entity.CourseChapter">
    update course_chapter
    <set>
      <if test="chapterIntro != null">
        chapter_intro = #{chapterIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=INTEGER}
      and chapter_id = #{chapterId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.ssc.entity.CourseChapter">
    update course_chapter
    set chapter_intro = #{chapterIntro,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=INTEGER}
      and chapter_id = #{chapterId,jdbcType=INTEGER}
  </update>
</mapper>