<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.ssc.mapper.HomeworkMapper">
  <resultMap id="BaseResultMap" type="com.shu.ssc.entity.Homework">
    <id column="homework_id" jdbcType="INTEGER" property="homeworkId" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="commit_time" jdbcType="TIMESTAMP" property="commitTime" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="mark" jdbcType="INTEGER" property="mark" />
    <result column="reply" jdbcType="VARCHAR" property="reply" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.shu.ssc.entity.Homework">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    homework_id, likes, commit_time, student_id, task_id, mark, reply, status
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from homework
    where homework_id = #{homeworkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from homework
    where homework_id = #{homeworkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shu.ssc.entity.Homework">
    insert into homework (homework_id, likes, commit_time, 
      student_id, task_id, mark, 
      reply, status, content
      )
    values (#{homeworkId,jdbcType=INTEGER}, #{likes,jdbcType=INTEGER}, #{commitTime,jdbcType=TIMESTAMP}, 
      #{studentId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{mark,jdbcType=INTEGER}, 
      #{reply,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shu.ssc.entity.Homework">
    insert into homework
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="homeworkId != null">
        homework_id,
      </if>
      <if test="likes != null">
        likes,
      </if>
      <if test="commitTime != null">
        commit_time,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="reply != null">
        reply,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="homeworkId != null">
        #{homeworkId,jdbcType=INTEGER},
      </if>
      <if test="likes != null">
        #{likes,jdbcType=INTEGER},
      </if>
      <if test="commitTime != null">
        #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="reply != null">
        #{reply,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.ssc.entity.Homework">
    update homework
    <set>
      <if test="likes != null">
        likes = #{likes,jdbcType=INTEGER},
      </if>
      <if test="commitTime != null">
        commit_time = #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=INTEGER},
      </if>
      <if test="reply != null">
        reply = #{reply,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where homework_id = #{homeworkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.shu.ssc.entity.Homework">
    update homework
    set likes = #{likes,jdbcType=INTEGER},
      commit_time = #{commitTime,jdbcType=TIMESTAMP},
      student_id = #{studentId,jdbcType=INTEGER},
      task_id = #{taskId,jdbcType=INTEGER},
      mark = #{mark,jdbcType=INTEGER},
      reply = #{reply,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where homework_id = #{homeworkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.ssc.entity.Homework">
    update homework
    set likes = #{likes,jdbcType=INTEGER},
      commit_time = #{commitTime,jdbcType=TIMESTAMP},
      student_id = #{studentId,jdbcType=INTEGER},
      task_id = #{taskId,jdbcType=INTEGER},
      mark = #{mark,jdbcType=INTEGER},
      reply = #{reply,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where homework_id = #{homeworkId,jdbcType=INTEGER}
  </update>
</mapper>