<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.ssc.mapper.LiveAddressMapper">
  <resultMap id="BaseResultMap" type="com.shu.ssc.entity.LiveAddress">
    <id column="live_address_id" jdbcType="INTEGER" property="liveAddressId" />
    <result column="live_address" jdbcType="VARCHAR" property="liveAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    live_address_id, live_address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from live_address
    where live_address_id = #{liveAddressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from live_address
    where live_address_id = #{liveAddressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shu.ssc.entity.LiveAddress">
    insert into live_address (live_address_id, live_address)
    values (#{liveAddressId,jdbcType=INTEGER}, #{liveAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shu.ssc.entity.LiveAddress">
    insert into live_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="liveAddressId != null">
        live_address_id,
      </if>
      <if test="liveAddress != null">
        live_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="liveAddressId != null">
        #{liveAddressId,jdbcType=INTEGER},
      </if>
      <if test="liveAddress != null">
        #{liveAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.ssc.entity.LiveAddress">
    update live_address
    <set>
      <if test="liveAddress != null">
        live_address = #{liveAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where live_address_id = #{liveAddressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.ssc.entity.LiveAddress">
    update live_address
    set live_address = #{liveAddress,jdbcType=VARCHAR}
    where live_address_id = #{liveAddressId,jdbcType=INTEGER}
  </update>
</mapper>