<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.ssc.mapper.MajorMapper">
  <resultMap id="BaseResultMap" type="com.shu.ssc.entity.Major">
    <id column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="major_content" jdbcType="VARCHAR" property="majorContent" />
  </resultMap>
  <sql id="Base_Column_List">
    major_id, major_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from major
    where major_id = #{majorId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from major
    where major_id = #{majorId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shu.ssc.entity.Major">
    insert into major (major_id, major_content)
    values (#{majorId,jdbcType=INTEGER}, #{majorContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shu.ssc.entity.Major">
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="majorId != null">
        major_id,
      </if>
      <if test="majorContent != null">
        major_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="majorId != null">
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="majorContent != null">
        #{majorContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.ssc.entity.Major">
    update major
    <set>
      <if test="majorContent != null">
        major_content = #{majorContent,jdbcType=VARCHAR},
      </if>
    </set>
    where major_id = #{majorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.ssc.entity.Major">
    update major
    set major_content = #{majorContent,jdbcType=VARCHAR}
    where major_id = #{majorId,jdbcType=INTEGER}
  </update>
</mapper>